.resultsContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.result {
    position: relative;
    width: -webkit-fill-available;
    margin: 0.5rem 0 0.5rem 0;
    word-wrap: break-word;
    text-align: left;
    padding: 0.5rem;
}

.lessEmphasis {
    font-size: 0.9;
    font-weight: lighter;
}

.loadingResults {
    opacity: 0.2;
}

.loader {
    position: absolute;
    top: 25%;
    left: 46%;
}

.querySeqHighlight {
    background-color: var(--blue);
    display: inline-flex;
    border-radius: 14px;
    color: #fff;
    padding: 0px 5px 2px 5px;
    align-items: center;
}